.pokemon-image-bckColorcaterpie {
    background-color: #a8b820;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorbulbasaur {
    background-color: #78C850;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorivysaur {
    background-color: #78C850;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorvenusaur {
    background-color: #78C850;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorvenusaur {
    background-color: #78C850;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorcharmander {
    background-color: #F08030;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorcharmeleon {
    background-color: #F08030;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorcharizard {
    background-color: #F08030;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorsquirtle {
    background-color: #6890F0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorwartortle {
    background-color: #6890F0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px   ;
}

.pokemon-image-bckColorblastoise {
    background-color: #6890F0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColormetapod {
    background-color: #78C850;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorbutterfree {
    background-color: #7b72b1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorweedle {
    background-color: #cd7310;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorkakuna {
    background-color: #f6cd31;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorbeedrill {
    background-color: #f4b438;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorpidgey {
    background-color: #b9a66c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorpidgeotto {
    background-color: #ffe68b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorpidgeot {
    background-color: #e6b462;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorrattata {
    background-color: #b473bd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorraticate {
    background-color: #f4b438;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #082129;
    height: 64px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.pokemon {
    display: flex;
    border-radius: 20px;
    margin: 10px;
    flex-direction: column;
    width: 210px;
    height: 205px;
    box-shadow: -10px -20px 8px rgba(0, 0, 0, 0.2);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-image {
    width: 150px;
    height: 140px;
}

.pokemon-image:hover {
    transform: scale(1.3);
    transition: transform 1.3s ease;
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.pokemon-image-dialog {
    width: 200px;
    height: 200px;
    align-items: center;
}

.span {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-bottom: 32px;
}

.btnunderImg {
    width: 80px;
    height: 12px;
    background-color: #f4b438;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btnunderImg:hover {
    background-color: #f4b438;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transform: translateY(1px);
    transition: transform 0.3s ease;
}
.pokedex {
    flex-wrap: wrap;
    justify-content: center;
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #18aae0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.more {
    padding: 0 55px;
    background-color: #f4b438;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px;
    margin-top: 32px;
}
.more:hover {
    background-color: #f4b438;
    color: white;
    font-size: 18px;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px;
    margin-top: 32px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transform: translateY(1px);
    transition: transform 0.3s ease;
}

.close-button {
    background-color: #f44336;
    margin-bottom: unset;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
}

.evolution {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}