.pokemon-image-bckColorcaterpie {
    background-color: #a8b820;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorbulbasaur {
    background-color: #78C850;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorivysaur {
    background-color: #78C850;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorvenusaur {
    background-color: #78C850;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorvenusaur {
    background-color: #78C850;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorcharmander {
    background-color: #F08030;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorcharmeleon {
    background-color: #F08030;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorcharizard {
    background-color: #F08030;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorsquirtle {
    background-color: #6890F0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorwartortle {
    background-color: #6890F0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorblastoise {
    background-color: #6890F0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColormetapod {
    background-color: #78C850;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorbutterfree {
    background-color: #7b72b1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorweedle {
    background-color: #cd7310;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorkakuna {
    background-color: #f6cd31;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorbeedrill {
    background-color: #f4b438;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorpidgey {
    background-color: #b9a66c;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorpidgeotto {
    background-color: #ffe68b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorpidgeot {
    background-color: #e6b462;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorrattata {
    background-color: #b473bd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.pokemon-image-bckColorraticate {
    background-color: #f4b438;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

