@media (max-width: 1000px) {
    .more {
        display: none !important;
    }

    .moreFlex {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 55px;
        background-color: #f4b438;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        cursor: pointer;
        width: 44px;
        min-width: 44px;
        min-height: 44px;
        font-size: 30px;
        color: tomato;
        font-weight: bolder;
    }
}

@media (min-width: 1000px) {
    .moreFlex {
        display: none !important;
    }
}
@media (max-width: 600px) {
    h1 {
        font-size: 24px;
}
input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 164px!important;
    max-width: unset;
}
.moreFlex {
    padding: unset;
    border-radius: 50%;
}
}