html {
    min-height: 100vh;
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #063444;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.page_content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    flex: 1;
}

.LOAD {
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 50px;
}

.loader {
    margin: 0 auto;
    animation: spin 3s linear infinite;
    filter: drop-shadow(0 0 10px #3498db);
}
.loader img {
    width: 200px;
    height: 200px;
}
.loader-p {
    color: white;
    font-size: 28px!important;
    text-shadow: #f3f3f3 0px 0px 5px;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.pokemon-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    justify-content: center;
    background-color:  #18aae0;
}
.pokemon-type-text {
    color: white;
    font-size: 18px;
    margin: 0;
    text-shadow: #f3f3f3 0px 0px 5px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #18aae0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #18aae0;
    height: 80px;
    gap: 24px;
}

.evoDialog {
    font-size: 24px;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.pokemon-next-details {
    text-align: center;
}
.pokemon-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 32px;
}
.pokemon-dialog {
    background-color: #082129;
    border: none;
    padding: unset;
    border-radius: 10px;
    z-index: 1000;
    height: 500px;
    width: 400px;
    max-width: 100%;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
}
h1 {
    color: white;
    font-size: 48px;
    margin: 0;
    text-shadow: #f3f3f3 0px 0px 10px;
}
h2 {
    color: white;
    font-size: 24px;
    margin: 0;
    text-shadow: #f3f3f3 0px 0px 5px;
}
p {
    color: white;
    font-size: 18px;
    margin: 0;
    text-shadow: #f3f3f3 0px 0px 5px;
}
.foot_a {
    text-decoration: unset;
    color: antiquewhite;
}
.seperatorplusBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}