.pokemon-type-icon {
    width: 24px;
    height: 24px;
}

.page_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    flex: 1;
}

.LOAD {
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex: 1;
}

.loader {
    margin: 0 auto;
    animation: spin 3s linear infinite;
    filter: drop-shadow(0 0 10px #3498db);
}

.loader img {
    width: 180px;
    height: 180px;
}

.loader-p {
    color: white;
    font-size: 28px !important;
    text-shadow: #f3f3f3 0px 0px 5px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.pokemon-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    justify-content: center;
    background-color: #18aae0;
}

.pokemon-type-text {
    color: white;
    font-size: 18px;
    margin: 0;
    text-shadow: #f3f3f3 0px 0px 5px;
}

.spanplusBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.close-button {
    background-color: #f44336;
    margin-bottom: unset;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
}

.close-button:hover {
    background-color: #f44336;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transform: translateY(1px);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.btnunderImgInfo {
    width: 80px;
    height: 12px;
    background-color: #bbbbbb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btnunderImgInfo:hover {
    background-color: #f4b438;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transform: translateY(1px);
    transition: transform 0.3s ease;
}
.btnunderImgInfo:hover::after {
    content: 'Info';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f4b438;
}

.more {
    padding: 0 55px;
    background-color: #f4b438;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px;
    margin-top: 32px;
}

.more:hover {
    background-color: #f4b438;
    color: white;
    font-size: 18px;
    cursor: pointer;
    min-width: 44px;
    min-height: 44px;
    margin-top: 32px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    transform: translateY(1px);
    transition: transform 0.3s ease;
}
.pokemon-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #082129;
    height: 64px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.pokemon {
    display: flex;
    border-radius: 20px;
    margin: 10px;
    flex-direction: column;
    width: 210px;
    height: 205px;
    box-shadow: -10px -20px 8px rgba(0, 0, 0, 0.2);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon-image {
    width: 150px;
    height: 140px;
}

.pokemon-image:hover {
    transform: scale(1.3);
    transition: transform 1.3s ease;
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.pokemon-image-dialog {
    width: 200px;
    height: 200px;
    align-items: center;
}

.span {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-bottom: 32px;
}

.span:hover {
    cursor: pointer;
    transition: gap 0.3s ease;
}