@media (max-width: 1000px) {
    .more {
        display: none !important;
    }

    .moreFlex {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        color: tomato;
        font-weight: bolder;
        transition: transform 0.3s ease;
    }

    .moreFlex:hover {
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    }
}

@media (min-width: 1000px) {
    .moreFlex {
        display: none !important;
    }
}

@media (max-width: 600px) {
    .pokemon {
        width: 100% !important;
    }

    h1 {
        font-size: 24px !important;
    }

    .span {
        font-size: 18px;
        gap: 30px !important;
    }
    .made {
        font-size: 18px !important;
    }

    .btnunderImg {
        width: 64px;
    }

    input {
        padding: 5px !important;
        border: none;
        border-radius: 5px;
        width: 142px !important;
        max-width: unset;
    }
    .footer {
        gap: 10px !important;
    }

    .evolution img {
        width: 100px !important;
        height: 99px !important;
    }

    .evoDialog {
        font-size: 20px !important;
        margin-left: 10px !important;
        margin-right: 10px !important;
    }

    .moreFlex {
        padding: unset;
        font-size: 18px !important;
    }

    .Attention {
        font-size: 24px !important;

    }
}